.dark-mode {
  background-color: #111111;
  color: #bbbbbb;
}

.dark-mode .dark-mode-toggle label {
  background-color: #333333;
}

.dark-mode .blurb {
  background-color: #333333;
}

.dark-mode .link-card {
  background-color: #444444;
}

.dark-mode .link-card a {
  background-color: #333333;
}

.dark-mode .link-card p {
  color: #bbbbbb;
}

.dark-mode .link-title {
  color: #dddddd;
}
