---
import Layout from '../layouts/Layout.astro';
import Link from '../components/Link.astro';
---

<Layout title="jigglycrumb.space">
  <main>
    <h1 class="text-gradient">jigglycrumb.space</h1>
    <p class="whoami">
      Hello, traveler!<br />
      I'm <strong class="text-gradient">jigglycrumb</strong>. Welcome to my hideout!
    </p>

    <h2 class="text-gradient">Where to find me</h2>
    <ul role="list" class="link-list">
      <Link title="Github" icon="/github.svg" href="https://github.com/jigglycrumb" />
      <Link title="Redbubble" icon="/redbubble.svg" href="https://bubblepleb.redbubble.com" />
      <Link title="Nostr" icon="/nostr.svg" href="https://snort.social/p/npub1g9k2rya223yt3n9p7zty9qrhvhxqac5evz0ewt0sv9x0hr4z72csd8sezh" />
    </ul>

    <h2 class="text-gradient">My websites</h2>
    <ul role="list" class="link-list">
      <Link
        title="nostr.industries"
        href="https://nostr.industries"
        body="Free NIP-05 handles for nostr"
      />

      <Link
        title="bitcoin-lexikon.org"
        href="http://bitcoin-lexikon.org"
        body="Das kleine Bitcoin Lexikon"
      />

      <Link
        title="sleekspriter.app"
        href="https://sleekspriter.app"
        body="Pixel art editor"
      />

      <Link
        title="asciimoji.com"
        href="https://asciimoji.com"
        body="ASCII emoticons for Mac OS/iOS and more"
      />
    </ul>

    <h2 class="text-gradient">Side projects</h2>
    <ul role="list" class="link-list">
      <Link
        title="splash-ds"
        href="https://jigglycrumb.github.io/splash-ds/"
        body="Boot splash creator for Nintendo 3DS"
      />

      <Link
        title="TvTool"
        href="https://jigglycrumb.github.io/tvtool/"
        body="Tool for formatting TV show episode names"
      />

      <Link
        title="Space Bacon"
        href="https://jigglycrumb.github.io/space-bacon/"
        body="Tiny game featuring my cat"
      />

      <Link
        title="What would a pirate do?"
        href="https://jigglycrumb.github.io/what-would-a-pirate-do/"
        body="Decision making tool for pirates"
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin: 0 0 2rem 0;
    text-align: center;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .whoami {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }

  .link-list {
    padding: 0;
  }
</style>
