---
import Blurb from '../components/Blurb.astro'
import DarkModeToggle from '../components/DarkModeToggle.astro';
import Layout from '../layouts/Layout.astro';
import Link from '../components/Link.astro';

import config from '../../site.config'
const  { title, content } = config
---

<Layout title={title}>
  <main>
    <div class="dark-mode-toggle-container">
      <DarkModeToggle />
    </div>
    <h1 class="text-gradient">{title}</h1>
    <Blurb />

    {content.map(({ headline, links }) => {
      return (
        <h2 class="text-gradient">{headline}</h2>
        <ul role="list" class="link-list">
          {links.map(props => {
            return <Link {...props} />
          })}
        </ul>
      )
    })}
  </main>
  <footer>
    <div>
      Your own site like this? Visit the <a class="text-gradient" href="https://github.com/jigglycrumb/personal-landing-page" target="_blank">Github repository</a> 
    </div>
  </footer>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin: 0 0 2rem 0;
    text-align: center;
  }

  footer {
    border-top: 1px solid rgb(var(--accent));
    display: block;
    margin: 0 auto;
    padding-bottom: 3rem;
    padding-top: 1rem;
    text-align: center;
    max-width: 60ch;
  }

  footer div {
    font-size: 70%;
  }

  .dark-mode-toggle-container {
    display: flex;
    height: 28px;
    justify-content: flex-end;
  }

  .link-list {
    padding: 0;
  }
</style>
